language: node_js
node_js: node
cache:
  directories:
  - node_modules
env:
- CI=true
deploy:
  provider: heroku
  api_key:
    secure: config.HEROKU_KEY
  app: safe-earth-19588
  on:
    repo: Aaron-Lathrop/react-hot-cold-testing
